body {
  width: 100%;
  min-height: 100vh;
}

.nav {
  min-height: 10vh;
  text-align: center;
  line-height: 2em;
  padding: 1rem 0 0.5rem;
}

.nav-link:hover {
  color: #0a1c38;
}

.nav hr {
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav {
    min-height: 10vh;
    border-bottom: 1px solid #ccc;
  }

  .nav img {
    width: 60%;
  }

  .nav-link:not(:first-child) {
    border-left: 1px solid #fff;
    padding-left: 0.4em;
  }

  .content {
    min-height: 90vh;
  }
}

@media screen and (min-width: 769px), print {
  .nav {
    min-height: 100vh;
    width: 20%;
    border-right: 1px solid #ccc;
    position: fixed;
    padding-top: 10%;
  }

  .nav-link {
    display: block;
  }

  .nav hr {
    margin: 0 1rem 0.5rem;
  }

  .content {
    margin-left: 20%;
    min-height: 100vh;
  }
}

.header {
  background: #3273dc;
  color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.header .title,
.header .subtitle {
  color: #fff;
}

.main {
  padding: 0;
}

.footer {
  border-top: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 0.75em;
  padding: 1em;
}

.resource-link {
  text-decoration: underline;
}

.section.has-border-bottom {
  border-bottom: 1px solid #ccc;
}

.table {
  display: block;
  overflow-x: scroll;
}

.has-overflow-x-children {
  padding: 3rem 0 3rem 1.5rem;
}

.has-overflow-x-children > :not(.is-overflow-x-scroll) {
  padding-right: 1.5rem;
}

i.icon {
  font-style: inherit;
}

.icon {
  font-size: 1.5rem;
}

.icon.is-small {
  font-size: 1rem;
}

.icon.is-medium {
  font-size: 2rem;
}

.icon.is-large {
  font-size: 3rem;
}

.notification {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  z-index: 1;
  overflow-x: wrap;
}

.notification .icon {
  cursor: pointer;
}

.notification .icon:not(:first-child) {
  margin-left: 0.75rem;
}

.fullscreen-container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding: 10vh 5vw 0;
}

.fullscreen-container > .level {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fullscreen-container .description {
  margin-bottom: 1rem;
}

.fullscreen-container .button {
  margin-top: 1rem;
}

@media screen and (min-width: 769px), print {
  .fullscreen-container {
    padding: 15vh 20vw 0;
  }
}

