<<<<<<< HEAD
@import url(https://use.typekit.net/biw6srs.css);.footer{border-top:1px solid #ccc;font-size:1em}.footer .container{padding:1.5rem}.footer-title{border-bottom:1px solid #ccc;font-size:1.25em;font-weight:500;margin-bottom:.5em}.footer-link a{color:inherit}.footer-logo{margin:auto}.footer-copyright{font-size:.75em}.footer .has-logo{-ms-flex-item-align:center;align-self:center;text-align:center}.navbar-logo{height:2em}.navbar.is-transparent{background-color:transparent!important}@media screen and (min-width:1024px){.navbar{padding:0 5%}}@media screen and (max-width:1024px){.navbar-item{text-align:left}.navbar-dropdown{font-size:1em;padding:0}.navbar-dropdown .navbar-item{padding-left:1rem;padding-right:1rem}.navbar.is-transparent{background-color:#000!important}}.navbar.is-transparent .navbar-dropdown,.navbar.is-transparent .navbar-item.has-dropdown:hover,.navbar.is-transparent .navbar-item:hover,.navbar.is-transparent .navbar-link{background-color:transparent!important}.navbar.is-transparent .navbar-item,.navbar.is-transparent .navbar-link{color:#fff!important}.navbar.is-transparent .navbar-dropdown{-webkit-box-shadow:none!important;box-shadow:none!important}.browser-mockup{border-top:2.2em solid hsla(0,0%,90%,.7);-webkit-box-shadow:0 .1em 1em 0 rgba(0,0,0,.4);box-shadow:0 .1em 1em 0 rgba(0,0,0,.4);position:relative;border-radius:3px 3px 0 0}.browser-mockup:before{display:block;position:absolute;content:"";top:-1.25em;left:1em;width:.5em;height:.5em;border-radius:50%;background-color:#f44;-webkit-box-shadow:0 0 0 2px #f44,1.5em 0 0 2px #9b3,3em 0 0 2px #fb5;box-shadow:0 0 0 2px #f44,1.5em 0 0 2px #9b3,3em 0 0 2px #fb5}.browser-mockup.with-tab:after{display:block;position:absolute;content:"";top:-2em;left:5.5em;width:20%;height:0;border-bottom:2em solid #fff;border-left:.8em solid transparent;border-right:.8em solid transparent}.browser-mockup.with-url>.search-bar{display:block;position:absolute;content:"";color:#4a4a4a;top:-1.8em;left:5.5em;width:calc(100% - 11em);min-width:10em;height:1.5em;border-radius:2px;background-color:#fff;text-align:center}.browser-mockup>*{display:block}.about .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.4);background-image:url("/img/desk.jpg");background-size:cover;background-repeat:no-repeat;background-position:50%}@media screen and (max-width:768px){.apply .buttons .button:not(:first-child){margin-top:.5em}}.for-business-owners .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.5);background-image:url("/img/coffee-shop.jpg");background-size:cover;background-repeat:no-repeat;background-position:bottom}.for-entrepreneurs .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.6);background-image:url("/img/entrepreneurs-desk.jpg");background-size:cover;background-repeat:no-repeat;background-position:50%}.for-freelancers .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.5);background-image:url("/img/people-collaborating.jpg");background-size:cover;background-repeat:no-repeat;background-position:50%}.for-online-retailers .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.4);background-image:url("/img/boxes.jpg");background-size:cover;background-repeat:no-repeat;background-position:0 0}.home .hero:first-child{background-blend-mode:multiply;background-color:rgba(0,0,0,.4);background-image:url("/img/students-on-train.jpg");background-position:50%;background-size:cover}@media screen and (max-width:677px){.home .hero-body .title{min-height:2.5em}}@media screen and (max-width:1024px){.home .hero:first-child{background:none}.home .hero:first-child .hero-body{background-blend-mode:multiply;background-color:rgba(0,0,0,.4);background-image:url("/img/students-on-train.jpg");background-position:50%;background-size:cover}}.site{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height:100vh}.site>.main{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.is-48x48 img{max-height:48px}#get-in-touch{border-top:1px solid #ccc}#get-in-touch a{color:#3273dc}.flash{max-width:60%;margin-left:auto;margin-right:auto;margin-top:2em}.hero .centered{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.hero.is-black .navbar-menu{background-color:transparent!important}.services-grid{display:grid;grid-gap:1rem}.services-grid>.card{display:grid;grid-template-rows:1fr 3rem;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}@media screen and (min-width:662px){.services-grid{grid-template-columns:repeat(2,minmax(300px,1fr))}}@media screen and (min-width:1408px){.services-grid{grid-template-columns:repeat(auto-fit,minmax(300px,1fr))}}.testimonials-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(300px,1fr));grid-gap:1rem}.rounded{border-radius:50%}.typed-cursor{opacity:1;-webkit-animation:blink .7s infinite;animation:blink .7s infinite}@keyframes blink{0%{opacity:1}50%{opacity:0}to{opacity:1}}@-webkit-keyframes blink{0%{opacity:1}50%{opacity:0}to{opacity:1}}.sa-logotype{font-family:adelle;font-style:normal;font-weight:400!important}.scrolling-wrapper{-webkit-overflow-scrolling:touch;overflow-x:scroll;overflow-y:hidden;padding:1.5rem 0;white-space:nowrap}.scrolling-wrapper::-webkit-scrollbar{display:none}.scrolling-wrapper .scrolling-item{display:inline-block}.scrolling-wrapper .scrolling-item.is-4{margin-right:1.5em;min-width:300px;width:28%}.scrolling-wrapper .scrolling-item.is-4:first-of-type{margin-left:1.5rem}.section.no-padding-x{padding:3rem 0!important}.pricing-table .pricing-plan{width:0}.pricing-table .pricing-plan .plan-footer small{font-size:.75em}.dropdown{-webkit-box-shadow:0 0 8px #777;box-shadow:0 0 8px #777;width:calc(100% - 10em)}
=======
@import url(https://use.typekit.net/biw6srs.css);.footer {
  border-top: 1px solid #ccc;
  font-size: 1em;
}

.footer .container {
  padding: 1.5rem;
}

.footer-title {
  border-bottom: 1px solid #ccc;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.footer-link a {
  color: inherit;
}

.footer-logo {
  margin: auto;
}

.footer-copyright {
  font-size: 0.75em;
}

.footer .has-logo {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.navbar-logo {
  height: 2em;
}

.navbar.is-transparent {
  background-color: transparent !important;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-item {
    text-align: left;
  }

  .navbar-dropdown {
    font-size: 1em;
    padding: 0;
  }

  .navbar-dropdown .navbar-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar.is-transparent {
    background-color: black !important;
  }
}

.navbar.is-primary .navbar-burger,
.navbar.is-primary .navbar-burger:hover {
  color: white;
}

.navbar.is-transparent .navbar-item:hover,
.navbar.is-transparent .navbar-item.has-dropdown:hover,
.navbar.is-transparent .navbar-link,
.navbar.is-transparent .navbar-dropdown {
  background-color: transparent !important;
}

.navbar.is-transparent .navbar-item,
.navbar.is-transparent .navbar-link {
  color: #ffffff !important;
}

.navbar.is-transparent .navbar-dropdown {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.browser-mockup {
  border-top: 2.2em solid rgba(230, 230, 230, 0.7);
  -webkit-box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  -webkit-box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
          box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url > .search-bar {
  display: block;
  position: absolute;
  content: '';
  color: #4a4a4a;
  top: -1.8em;
  left: 5.5em;
  width: calc(100% - 11em);
  min-width: 10em;
  height: 1.5em;
  border-radius: 2px;
  background-color: white;
  text-align: center;
}

.browser-mockup > * {
  display: block;
}

.about-us .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/img/desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .apply .buttons .button:not(:first-child) {
    margin-top: 0.5em;
  }
}

.for-business-owners .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/img/coffee-shop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.for-entrepreneurs .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("/img/entrepreneurs-desk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.for-freelancers .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/img/people-collaborating.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.for-online-retailers .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/img/boxes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.home .hero:first-child {
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/img/students-on-train.jpg");
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 677px) {
  .home .hero-body .title {
    min-height: 2.5em;
  }
}

@media screen and (max-width: 1024px) {
  .home .hero:first-child {
    background: none;
  }

  .home .hero:first-child .hero-body {
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("/img/students-on-train.jpg");
    background-position: center center;
    background-size: cover;
  }
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site > .main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.is-48x48 img {
  max-height: 48px;
}

#get-in-touch {
  border-top: 1px solid #ccc;
}

#get-in-touch a {
  color: #3273dc;
}

.flash {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.hero .centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero.is-black .navbar-menu {
  background-color: transparent !important;
}

.services-grid {
  display: grid;
  grid-gap: 1rem;
}

.services-grid > .card {
  display: grid;
  grid-template-rows: 1fr 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 662px) {
  .services-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 1408px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.rounded {
  border-radius: 50%;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sa-logotype {
  font-family: adelle;
  font-style: normal;
  font-weight: 400 !important;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1.5rem 0;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper .scrolling-item {
  display: inline-block;
}

.scrolling-wrapper .scrolling-item.is-4 {
  margin-right: 1.5em;
  min-width: 300px;
  width: 28%;
}

.scrolling-wrapper .scrolling-item.is-4:first-of-type {
  margin-left: 1.5rem;
}

.section.no-padding-x {
  padding: 3rem 0 !important;
}

.pricing-table .pricing-plan .plan-footer small {
  font-size: 0.75em;
}

@media screen and (min-width: 1024px) {
  .pricing-plan {
    width: 0;
  }
}

.dropdown {
  -webkit-box-shadow: 0 0 8px #777;
          box-shadow: 0 0 8px #777;
  width: calc(100% - 6em);
}

.section.has-background-light .timeline .tag {
  background-color: white;
}

.search-by-algolia {
  float: right;
  padding-top: 0.5rem;
  padding-right: 6.5rem;
}

.ais-results {
  width: 100%;
}

.ais-no-results {
  padding: 1rem;
}

button.search {
  width: 6rem;
}

>>>>>>> master
