@import "variables";
@import "site/components/all";
@import "site/pages/all";

@import url("https://use.typekit.net/biw6srs.css");

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	& > .main {
		flex-grow: 1;
	}
}

.is-48x48 img {
	max-height: 48px;
}

#get-in-touch {
	border-top: 1px solid #ccc;

	& a {
		color: $brand-primary;
	}
}

.flash {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

.hero {
    & .centered {
        justify-content: center;
    }
}

.hero.is-black .navbar-menu {
	background-color: transparent !important;
}

.services-grid {
	display: grid;
	grid-gap: 1rem;
    
	& > .card {
        display: grid;
		grid-template-rows: 1fr 3rem;
		justify-content: space-between;
	}
}

@media screen and (min-width: 662px) {
    .services-grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (min-width: 1408px) {
    .services-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.rounded {
	border-radius: 50%;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.sa-logotype {
    font-family: adelle;
    font-style: normal;
    font-weight: 400 !important;
}