@import "variables";

.main-grid {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	align-content: stretch;

	& > .header {
		grid-area: header;
	}

	& > .main {
		grid-area: main;
	}

	& > .footer {
		grid-area: footer;
	}
}

.is-48x48 img {
	max-height: 48px;
}

#get-in-touch {
	border-top: 1px solid #ccc;

	& a {
		color: $brand-primary;
	}
}

.footer {
	padding: 1em;
	border-top: 1px solid #ccc;
	font-size: 0.75em;
	color: $grey-dark;
	background-color: #fff;
}

.flash {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

/* - - - - - - -
 |	Home page  |
 - - - - - - */
.home {

	& .hero:first-child {
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.4);
		background-image: url('/img/library.jpg');
		background-position: center top;

		& .buttons {
			justify-content: center;
		}
	}
}

.hero.is-black .navbar-menu {
	background: transparent!important;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;

	& > .card {
		display: grid;
		grid-template-rows: 1fr 3rem;
		justify-content: space-between;
	}
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

/* - - - - - - - -
 |	About page  |
 - - - - - - - */
 .about {

	.hero:first-child {
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.4);
		background-image: url('/img/desk.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
 }

/* - - - - - - - -
 |	Apply page  |
 - - - - - - - */

 .apply {

 	@media screen and (max-width: 768px) {
 		& .buttons {

 			& .button {

				&:not(:first-child) {
					margin-top: 0.5em;
				}
 			}
 		}
 	}
}

.rounded {
	border-radius: 50%;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}