@import "variables";

.main-grid {
	display: grid;
	min-height: 100vh;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	align-content: stretch;

	& > .header {
		grid-area: header;
	}

	& > .main {
		grid-area: main;
	}

	& > .footer {
		grid-area: footer;
	}
}

.is-48x48 img {
	max-height: 48px;
}

#get-in-touch {
	border-top: 1px solid #ccc;

	& a {
		color: $brand-primary;
	}
}

.footer {
	padding: 1em;
	border-top: 1px solid #ccc;
	font-size: 0.75em;
	color: $grey-dark;
	background-color: #fff;
}

.flash {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}

/* - - - - - - -
 |	Home page  |
 - - - - - - */
.home {

	& .buttons {
		justify-content: center;
	}
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;

	& > .card {
		display: grid;
		grid-template-rows: 1fr 3rem;
		justify-content: space-between;
	}
}

/* - - - - - - - -
 |	Apply page  |
 - - - - - - - */

 .apply {

 	@media screen and (max-width: 768px) {
 		& .buttons {

 			& .button {

				&:not(:first-child) {
					margin-top: 0.5em;
				}
 			}
 		}
 	}
}

/* - - - - - - - - - -
 |	Sourcerors page  |
 - - - - - - - - - */
.sourcerors {

}